
.icon-mail:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-ball:before { content: '\f1e3'; } /* '' */